
   * {
       margin: 0;
       padding: 0;
   }

   body {
       background-color: rgb(3, 19, 49);
       color: white;
       font-family: 'Poppins', sans-serif;
   }
   #about {
    padding: 60px 0;
    color: #ababab;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    background-color: rgb(18, 60, 137);
}
nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white
}

nav ul li a:hover {
    color: rgb(164, 164, 223);
    font-size: 1.02rem;
}
.left {
    font-size: 1.5rem;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 85px;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {

    font-size: 3rem;
}

.leftSection.buttons {
    padding: 14px;
}

.leftSection .btn {
    padding: 12px;
    background: #1e2168;
    color: white;
    border-radius: 7px;
    font-size: 22px;
    cursor: pointer;

}

.rightSection img {
    width: 80%;


}

.purple {
    color: blueviolet
}

#element {
    color: blueviolet;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 80px;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 80%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 65%;
    align-items: center;
    justify-content: space-around;
    margin: 100px 100px;
}

.sub-title {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #fff004;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: aqua;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}
#Projects {
    padding: 50px 0;
    margin: 100px 100px;
}

.Projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.Projects {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.Projects img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;

}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.Projects:hover img {
    background-position: left bottom;
    transform: scale(1.1);
}

.Projects:hover .layer {
    height: 100%;
}